<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <meta charset="UTF-8" />
    <title>Upload</title>
  </head>
  <body>
    <p>
      <a href="modelo/lancamentos_top50.csv"> Modelo </a>
    </p>
    <form action="/" method="POST" enctype="multipart/form-data">
      <label for="file">Upload</label> <br />
      <input type="file" id="file" name="file" />
      <button class="button">Converter</button>
    </form>
  </body>
</html>
